---
title: Imprint
permalink: /imprint/
layout: "layouts/base.njk"

seoTitle: Imprint
seoDescription:
metaImage:
---

<section class="detail_stage lax">

  <div class="wrapper">

    <div class="opener">
      <h1 data="fade-up">Imprint</h1>
    </div><!-- .opener -->

  </div><!-- .wrapper -->

</section><!-- .header_stage -->

<section class="legal">
  <div class="wrapper grd">
    <div class="legal_content">
      <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
      <p>Miles Zimmern Garten und Landschaftsbau GmbH<br />
      Groten Flerren 38<br />
      22559 Hamburg</p>

      <p>Handelsregister: ??<br />
      Registergericht: ??</p>

      <p><strong>Vertreten durch:</strong><br />
      Miles Zimmern</p>

      <h3>Kontakt</h3>
      <p>Telefon: 040 . 81 58 03<br />
      Telefax: 040 . 81 99 02 39<br />
      E-Mail: zimmern@rissen.de</p>

      <h3>Umsatzsteuer-ID</h3>
      <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
      ??</p>

      <h3>Angaben zur Berufs&shy;haftpflicht&shy;versicherung</h3>
      <p><strong>Name und Sitz des Versicherers:</strong><br />
      ??</p>
      <p><strong>Geltungsraum der Versicherung:</strong><br />??</p>

      <h3>EU-Streitschlichtung</h3>
      <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a class="link" href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

      <h3>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h3>
      <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    </div><!-- .legal.content -->
  </div><!-- .wrapper -->

</section><!-- .legal -->
