<header>

  <div class="grd wrapper">
    <div class="site-branding">
      <a id="logo" href="/" rel="home" title="" aria-label="">
        <img src="{{ base.url }}/assets/img/graceyoung_logo.svg" alt="Grace Young – The Stir-Fry Guru">
      </a>
    </div><!-- .site-branding -->

    <div class="header_bar">
  
    </div><!-- .header_bar -->

    
  </div>

</header><!-- header -->
