<nav class="menu-button-links">

  <button type="button" id="menubutton" title="Navigation" aria-haspopup="true" aria-controls="menu" aria-expanded="false">

    <div class="hamburger">
              <span></span>
            </div>

  </button>

  <ul id="menu" role="menu" aria-labelledby="menubutton" class="nav">
    <li role="none" class="nav__item st_lvl__item">

      <a role="menuitem" href="/" class="st_lvl__link {{ 'active' if '/' in page.url }}">Home</a>

    </li>

    <li role="none" class="nav__item nxt_lvl st_lvl__item" id="leistungen">
      <a role="menuitem" href="/leistungen" class="st_lvl__link {{ 'active' if '/leistungen' in page.url }}{{ 'active' if '/gartenneubau' in page.url }}{{ 'active' if '/baumpflege' in page.url }}{{ 'active' if '/gartenpflege' in page.url }}{{ 'active' if '/baumschule' in page.url }}{{ 'active' if '/baufelderschließung' in page.url }}{{ 'active' if '/idee-beratung-planung' in page.url }}">
        Leistungen
        <span>
          <svg class="nxt_lvl__arrow">
            <use xlink:href="#nxt_lvl__arrow"></use>
          </svg>
        </span>
      </a>

      <ul role="none" class="leistungen_items">

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/gartenneubau" aria-current="{{ 'current' if '/gartenneubau' in page.url }}page">
            {% picture "/stages/visual_stage_leistungen_gartenneubau.jpg", "Gartenneubau – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Gartenneubau</h6>
          </a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/baumpflege" aria-current="{{ 'current' if '/baumpflege' in page.url }}page">
            {% picture "/stages/visual_stage_leistungen_baumpflege.jpg", "Baumpflege – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Baumpflege</h6>
          </a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/gartenpflege" aria-current="{{ 'current' if '/gartenpflege' in page.url }}page">
            {% picture "/stages/visual_stage_leistungen_gartenpflege.jpg", "Gartenpflege – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Gartenpflege</h6>
          </a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/baumschule" aria-current="{{ 'current' if '/baumschule' in page.url }}page">
            {% picture "/stages/visual_stage_leistungen_baumschule.jpg", "Baumschule – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Baumschule</h6>
          </a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/baufelderschliessung" aria-current="{{ 'current' if '/baufelderschliessung' in page.url }}page">
            {% picture "/stages/visual_stage_leistungen_baufelderschliessung.jpg", "Baufelderschließung – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Baufelderschließung</h6>
          </a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/idee-beratung-planung" aria-current="{{ 'current' if '/idee-beratung-planung' in page.url }}page">
            {% picture "/stages/visual_stage_leistungen_idee_beratung_planung.jpg", "Idee, Beratung, Planung – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Idee, Beratung,Planung</h6>
          </a>
        </li>

      </ul>

    </li>

    <li role="none" class="nav__item st_lvl__item">

      <a role="menuitem" href="/projektgalerie" aria-current="{{ 'current' if '/projektgalerie' in page.url }}page" class="st_lvl__link">Projektgalerie</a>

    </li>

    <li role="none" class="nav__item st_lvl__item">

      <a role="menuitem" href="/unternehmen" class="st_lvl__link {{ 'active' if '/unternehmen' in page.url }}">Unternehmen</a>

    </li>

    <li role="none" class="nav__item nxt_lvl st_lvl__item" id="karriere">

      <a role="menuitem" href="/karriere" class="st_lvl__link" aria-current="{{ 'active' if '/karriere' in page.url }}" class="st_lvl__link {{ 'active' if '/karriere' in page.url }}{{ 'active' if '/karriere-ausbildung' in page.url }}{{ 'active' if '/karriere-berufserfahrene' in page.url }}">
        Karriere
        <span>
          <svg class="nxt_lvl__arrow">
            <use xlink:href="#nxt_lvl__arrow"></use>
          </svg>
        </span>
      </a>

      <ul role="none" class="karriere_items">

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/karriere-ausbildung" aria-current="{{ 'current' if '/karriere-ausbildung' in page.url }}page">
            {% picture "/stages/visual_stage_karriere_ausbildung.jpg", "Ausbildung – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Ausbildung</h6>
          </a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/karriere-berufserfahrene" aria-current="{{ 'current' if '/karriere-berufserfahrene' in page.url }}page">
            {% picture "/stages/visual_stage_karriere_berufserfahrene.jpg", "Stellenangebote – Zimmern Garten und Landschaftsbau GmbH" %}
            <h6>Stellenangebote für Berufserfahrene</h6>
          </a>
        </li>

      </ul>

    </li>

    <li role="none" class="nav__item st_lvl__item">
      <a role="menuitem" href="/Kontakt" aria-current="{{ 'current' if '/Kontakt' in page.url }}page" class="st_lvl__link">Kontakt</a>
    </li>

  </ul><!-- .menu_items -->



</nav><!-- .menu-button-links -->
